
.candidate-list {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.search button{
  padding: 8px;
}

.search input{
  border: solid 0.5px black;
}

.candidate-list h1 {
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
}